@page "/"
@using Genelife.Web.Shared
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation
@implements IAsyncDisposable
@inject HttpClient Http

<PageTitle>Genelife Main Page</PageTitle>

<h1>Logs</h1>

<ul>
    @foreach (var log in Logs)
    {
        <li>@log</li>    
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> Logs = new();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string>(MessageType.SimulationLog, (log) =>
        {
            Logs.Add(log);
            StateHasChanged();
        });

        await hubConnection.StartAsync();
        await Http.GetAsync("Simulation/init");
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
            await hubConnection.DisposeAsync();
    }
}
